_ide_helper*.php
.env
.php_cs.cache
/node_modules
/node_server/config.js
/npm-debug.log
/public/build
/public/css
/public/js
/public/media
/public/mix-manifest.json
/vendor
package-lock.json
/resources/js/config.json
